:root {
  --color-nav-grey: #757575;
  --color-nav-black: #212121;
  --color-nav-hover: #2196f3;
  --color-white: #ffffff;
  --color-brand: #f5f4fa;
  --li-dec: none;
  --footer-bckgrd: #2f303a;
  --color-portfolio-bckgrd: #f5f5f5;
  --color-gray-block: #2f303a;
  --color-button: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  border: 0px;
}

/*----------------Header--------------*/
.whole-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 25px;
  padding-bottom: 26px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  color: var(--color-nav-hover);
  text-decoration: none;
}
.logo-part2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  color: #000000;
}

.navig-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}
.navig-sections {
  display: flex;
  margin-left: 93px;
}

.list-decor {
  list-style-type: var(--li-dec);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list-margin:not(:last-child) {
  margin-right: 50px;
}
.navig-list .focus1 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.focus1 {
  color: var(--color-nav-black);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1428;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
}

.navig-list .focus1:hover,
.navig-list .focus1:focus {
  color: var(--color-nav-hover);
}

.focus2 {
  color: var(--color-nav-grey);
  text-decoration: none;
}

.navig-list .focus2:hover,
.navig-list .focus2:focus {
  color: var(--color-nav-hover);
}

.navig-contacts {
  display: flex;
  margin-left: auto;
}

.navig-contacts .list-margin + .list-margin {
  margin-left: 50px;
}
/*-----------Gray Block-----------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.gray-block {
  background-color: var(--color-gray-block);
  margin-bottom: 94px;
}
.h1-design {
  display: block;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}

.btn {
  display: block;
  min-width: 212px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-nav-hover);
  border-radius: 4px;
  cursor: pointer;
}

.gray-block .btn:hover {
  background-color: var(--color-button);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.gray-block .btn:focus {
  background-color: var(--color-button);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.priorities {
  margin-bottom: 94px;
}

.priorities-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.prior-item {
  width: 270px;
}

.prior-item:not(:last-child) {
  margin-right: 30px;
}

.h2-hidden-design {
  margin-top: 0;
  margin-bottom: 0;
}

.h3-design {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-nav-black);
  margin-top: 0;
  margin-bottom: 10;
}
.h3-text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-nav-grey);
  margin-top: 0;
  margin-bottom: 0;
}
.h2-design {
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-black);
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
.whatwedo {
  margin-bottom: 188px;
}

.whatwedo-ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.whatwedo-item {
  width: 370px;
  margin-right: 30px;
}
.whatwedo-item:last-child {
  margin-right: 0;
}

.ourteam-design {
  background-color: var(--color-brand);
  margin-top: 0;
}

.h3-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(-color-nav-black);
  margin-top: 30px;
  margin-bottom: 0;
}
.text-team {
  font-size: 16px;
  line-height: 1.2617;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-grey);
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.ourteam-ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ourteam-decor {
  background-color: var(--color-white);
  border-radius: 4px;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
}

.our-team-item {
  width: 270px;
  margin-right: 30px;
}

.our-team-item:last-child {
  margin-right: 0;
}

/*--------------Footer---------------*/
.footer-design {
  background: var(--footer-bckgrd);
  margin-top: 94px;
  padding-top: 60px;
}
.logo-part3 {
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  line-height: 1.1932;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-text1 {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-text2 {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-li {
  margin-bottom: 9px;
}

.list-decor .footer-text1 {
  color: var(--color-white);
}

.list-decor .footer-text2 {
  color: rgba(255, 255, 255, 0.6);
}

.list-decor .footer-text1:hover,
.list-decor .footer-text1:focus {
  color: var(--color-nav-hover);
}

.list-decor .footer-text2:hover,
.list-decor .footer-text2:focus {
  color: var(--color-nav-hover);
}

/*-------------Portfolio-----------*/
.container-prtf {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.prtf-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.prtf-flex-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.prtf-text {
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-color: #eeeeee;
  border-top-width: 1px;
  border-top-color: transparent;
}

.prtf-flex-item:nth-child(3n) {
  margin-right: 0;
}

.prtf-flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-pics {
  width: 1170px;
  height: 1360px;
  background: var(--color-portfolio-bckgrd);
}

.upper-list-block {
  display: flex;
  width: 575px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  justify-content: space-between;
}

.upper-list-item {
}

.btn2 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  color: var(--color-nav-black);
  background-color: var(--color-brand);
  cursor: pointer;
  border-radius: 4px;
}

.upper-list-item .btn2:hover {
  background-color: var(--color-nav-hover);
  color: var(--color-white);
}
.upper-list-item .btn2:focus {
  background-color: var(--color-nav-hover);
  color: var(--color-white);
}

.h2-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  vertical-align: top;
  margin-top: 20;
  margin-bottom: 4;
  margin-left: 24px;
  margin-right: 24px;
}

.p-portfolio {
  font-size: 16px;
  line-height: 1;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}
img {
  display: block;
  height: 100%;
  width: 100%;
}

.wrap {
  width: 370px;
  height: 294px;
}

.prtf-flex-item .wrap > img {
  object-fit: cover; /*зображення масштабується зі збереженням пропорцій, щоб повністю заповнити контейнер.*/
}
