:root {
  --color-nav-grey: #757575;
  --color-nav-black: #212121;
  --color-nav-hover: #2196f3;
  --color-white: #ffffff;
  --color-brand: #f5f4fa;
  --li-dec: none;
  --footer-bckgrd: #2f303a;
  --color-portfolio-bckgrd: #f5f5f5;
  --color-gray-block: #2f303a;
  --color-button: #188ce8;
  --color-gray-block-bg: #c4c4c4;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  border: 0px;
}

/*----------------Header--------------*/
.whole-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 25px;
  padding-bottom: 26px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  color: var(--color-nav-hover);
  text-decoration: none;
}
.logo-part2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  color: #000000;
}

.navig-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}
.navig-sections {
  display: flex;
  margin-left: 93px;
}

.list-decor {
  list-style-type: var(--li-dec);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list-margin:not(:last-child) {
  margin-right: 50px;
}
.navig-list .focus1 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.focus1 {
  color: var(--color-nav-black);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1428;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
}

.navig-list .focus1:hover,
.navig-list .focus1:focus {
  color: var(--color-nav-hover);
}

.focus2 {
  color: var(--color-nav-grey);
  text-decoration: none;
}

.navig-list .focus2:hover,
.navig-list .focus2:focus {
  color: var(--color-nav-hover);
}

.navig-contacts {
  display: flex;
  margin-left: auto;
}

.navig-contacts .list-margin + .list-margin {
  margin-left: 50px;
}

.header-cont{
  height: 16px;
  display: flex;
  padding-left: 0;
}
.svg-header{
  width: 10px;
  height: 16px;
  fill:#757575;
 
  margin-right: 10px;
}

.svg-header:hover{
  fill: #2196F3;
}

/*-----------Gray Block-----------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.gray-block {
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
    to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/new-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--color-gray-block-bg);
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.h1-design {
  display: block;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}

.btn {
  display: block;
  min-width: 212px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 8px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-nav-hover);
  border-radius: 4px;
  cursor: pointer;
}

.gray-block .btn:hover {
  background-color: var(--color-button);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.gray-block .btn:focus {
  background-color: var(--color-button);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.priorities {
  margin-bottom: 94px;
  background-color: var(--color-portfolio-bckgrd)
}

.priorities-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.prior-item {
  width: 270px;
  height: 248px;

}

.prior-item:not(:last-child) {
  margin-right: 30px;
}

.h2-hidden-design {
  margin-top: 0;
  margin-bottom: 0;
}

.h3-design {

  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-nav-black);
  margin-top: 0;
  margin-bottom: 10;
}
.h3-text {

  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-nav-grey);
  margin-top: 0;
  margin-bottom: 0;
}

.prior-item::before{ 
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-brand);
  background-repeat: no-repeat; 
  background-position: center;
  margin-bottom: 30px;
}

.prior-item:nth-child(1)::before{ 
  background-image: url("../images/antenna\ 1.svg");
  }
.prior-item:nth-child(2)::before{
  background-image: url("../images/clock\ 1.svg");
}
.prior-item:nth-child(3)::before{
  background-image: url("../images/diagram\ 1.svg");
}
.prior-item:nth-child(4)::before{
  background-image: url("../images/astronaut\ 1.svg");
}

.h2-design {
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-nav-black);
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

/*---- What we do-------*/
.whatwedo {
  margin-bottom: 188px;
  background-color: var(--color-portfolio-bckgrd)
}

.whatwedo-ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.whatwedo-item {
  width: 370px;
  margin-right: 30px;
}
.whatwedo-item:last-child {
  margin-right: 0;
}

/*---- Our Team-------*/

.ourteam-design {
  height: 708px;
  background-color: var(--color-brand);
  margin-top: 0;
}

.ourteam-members{
  display: flex;
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.ourteam-item{
  width: 270px;
  height: 428px; 
  padding-top: 0;
  padding-bottom: 0;
}

.thumb{
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.team-img{
  object-fit: cover;
}

.team-header{
  display: block;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-txt{
  display: block;
  font-family: Roboto;
  color: #757575;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 16px;
}

.member-contacts{
  display: flex;
  list-style-type: none;
  width: 206px;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  margin: 0 auto;
}

.member-contacts-item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.member-contacts-item:hover{
  background-color: #2196F3;
}

.member-contacts-item:focus{
  background-color: #2196F3;
}
.svg-design-team{
  width:20px;
  height: 20px;
  position: center;
  margin: 25%;
  fill:#757575;
}

.svg-design-team:hover{
  background-color: #2196F3;
  fill: white;
}

.ourteam-decor {
  background-color: var(--color-white);
  border-radius: 4px;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
}

.team-icon{
  /*background-color: rgba(255, 255, 255);*/
  background-color: green;
}

/*---- Our clients -------*/

.our-clients{
  background-color: var(--color-portfolio-bckgrd);
  margin-bottom: 94px;
  margin-top: 50px;
}
.our-clients-ul{
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.item-our-clients{
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.item-our-clients:hover{
  border-color: #2196F3;
}

.item-our-clients:focus{
  border-color: #2196F3;
}

.svg-ourclient{
  width: 106px;
  height: 60px;
  fill:#757575;
  display: block;
  margin: auto;
  margin-top: 16px;
}

.svg-ourclient:hover{
  fill:#2196F3;
}

/*-------------- Footer ---------------*/
.footer-design {
  margin-right: 70px;
  margin-top: 60px;
}

.footer-block{
display: flex;
padding-left: 0;
padding-right: 0;
margin-top: 94px;
background: var(--footer-bckgrd);
}

.logo-part3 {
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.1932;
  letter-spacing: 0.03em;
  line-height: 1.1932;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-text1 {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-text2 {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-li {
  margin-bottom: 9px;
}

.list-decor .footer-text1 {
  color: var(--color-white);
}

.list-decor .footer-text2 {
  color: rgba(255, 255, 255, 0.6);
}

.list-decor .footer-text1:hover,
.list-decor .footer-text1:focus {
  color: var(--color-nav-hover);
}

.list-decor .footer-text2:hover,
.list-decor .footer-text2:focus {
  color: var(--color-nav-hover);
}

.join{
  width: 206px;
  height: 80px;
  margin-top: 72px;
}
.join-ul{
display: flex;
justify-content: space-between;
}

.follow-circle{
  display: block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.svg-design{
  width:20px;
  height: 20px;
  margin: 25%;
  position: center;
  fill: white;
}
.follow-circle
{background-color: rgba(255, 255, 255, 0.1);}

.follow-circle:hover{
 background-color: var(--color-nav-hover);
}

.follow-circle:focus{
  background-color: var(--color-nav-hover);
}

.join-header{
  margin-top: 0;
  margin-bottom: 20px;
  color: var( --color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*-------------Portfolio-----------*/
.container-prtf {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.prtf-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.prtf-flex-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.prtf-flex-item:hover{
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.prtf-text {
  margin-top: 20px;
}

.prtf-flex-item:nth-child(3n) {
  margin-right: 0;
}

.prtf-flex-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-pics {
  width: 1170px;
  height: 1360px;
  background: var(--color-portfolio-bckgrd);
}

.upper-list-block {
  display: flex;
  width: 575px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  justify-content: space-between;
}

.upper-list-item {
}

.btn2 {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  color: var(--color-nav-black);
  background-color: var(--color-brand);
  cursor: pointer;
  border-radius: 4px;
}

.upper-list-item .btn2:hover {
  background-color: var(--color-nav-hover);
  color: var(--color-white);
}
.upper-list-item .btn2:focus {
  background-color: var(--color-nav-hover);
  color: var(--color-white);
}

.h2-portfolio {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-nav-black);
  text-align: left;
  overflow-wrap: none;
  margin-bottom: 4;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0;
}

.p-portfolio {
  font-size: 16px;
  line-height: 1;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--color-nav-grey);
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}
img {
  display: block;
  height: 100%;
  width: 100%;
}

.wrap {
  width: 370px;
  height: 294px;
}

.prtf-flex-item .wrap > img {
  object-fit: cover; /*зображення масштабується зі збереженням пропорцій, щоб повністю заповнити контейнер.*/
}
